$primary-650: hsl(0, 60%, 35%);
$primary-570: hsla(0, 77%, 43%, 0.031);
$primary-550: hsla(0, 100%, 50%, 0.165);

$secondary-890: hsl(220, 43%, 11%);
$secondary-730: hsl(222, 15%, 27%);
$secondary-540: hsl(221, 13%, 46%);
$secondary-000: hsl(0, 0%, 100%);

$neutral-350: hsl(218, 15%, 65%);
$neutral-160: hsl(217, 16%, 84%);
$neutral-070: hsl(220, 17%, 93%);
$neutral-020: hsl(210, 20%, 98%);
